﻿@{
    ViewBag.Title = "InterDev Technical Test";
}

<div class="jumbotron">
    <img src="../Resources/logo1.png" style="width:10%;height:15%;">
    <h1>Enterdev Technical Test</h1>
    <h4>Luisa Fernanda Franco Jaramillo</h4>
</div>

