﻿@model IEnumerable<EnTerDev.TechnicalTest.Entities.Models.GroupModel>

@{
    ViewBag.Title = "Tree View";
}

@if (ViewBag.Url != null)
{
    <script type="text/javascript">
        window.open("@ViewBag.Url", "_blank");
    </script>
}


<h2>Enterdev Technical Test</h2>
<img src="../Resources/logo1.png" style="width:10%;height:15%;">
<ul class="list-group">

    @foreach (var group in Model)
    {
        <li class="list-group-item">
            <span>@Html.DisplayFor(x => group.name)</span>
            <ul>
                @foreach (var auto in group.autoModelList)
                {
                    <li>
                        <span>Name: @Html.DisplayFor(y => auto.name)</span>
                        <ul>
                            <li>
                                <span>File: @Html.DisplayFor(y => auto.file)   </span>
                                @Html.ActionLink("Download", "DownloadFile", "Auto",new { fileName = auto.file, idAuto= auto.auto_id }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-cloud-download" })
                                

                            </li>
                            <li><span>Auto_id: @Html.DisplayFor(y => auto.auto_id)</span></li>
                            <li><span>Realtime: @Html.DisplayFor(y => auto.realtime)</span></li>
                            <li><span>Hash: @Html.DisplayFor(y => auto.hash)</span></li>
                            <li><span>Hidden: @Html.DisplayFor(y => auto.hidden)</span></li>
                            <li><span>Key: @Html.DisplayFor(y => auto.key)</span></li>
                            <li><span>Url: @Html.DisplayFor(y => auto.url)</span></li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>


